body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background: white;
    color: black;
}
li {
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: -10px;
}
body.dark hr {
    border: 1px solid #3d4753;
}
body.dark a:visited {
    color: rgb(8, 74, 141);
}
body.dark {
    background: #212830;
    color: #d1d7e0;
}