body {
    background-color: rgb(23, 32, 24);
    color: white;
    cursor: default;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    display: flex;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    justify-content: center;
    image-rendering: -moz-crisp-edges;
    -webkit-image-rendering: crisp-edges;
}

a {
    text-decoration: underline;
    color: white;
}
a:hover {
    font-style: italic;
}
.hidden {
    display: none !important;
}
#popupdespise {
    background-color: rgba(255,255,255, 0.85);
    box-shadow: 0 0 10px rgba(255,255,255, 0.85);
    color: black;
    position: relative;
    top: -10px;
    padding: 2px;
}
.link {
    color: white;
    background: none;
    border: 0;
    text-decoration: underline;
}
.link:hover {
    cursor: pointer;
}
#greeting {
    top: -10px;
    position: relative;
}
.info, button {
    text-transform: lowercase;
}
.info {
    opacity: 1;
    position: relative;
    background-color: rgba(8, 8, 10, 0.5);
    box-shadow: 0 0 15px rgba(8, 8, 10, 0.5);
    padding: 10px 45px;
    border-radius: 10px;
    margin: 0;
    animation: fade-in_info 2s cubic-bezier(.65,.05,.36,1);
    width: 450px;
    height: auto;
}
@keyframes fade-in_info {
    0% {
        margin: 0 15px;
        opacity: 0;
    }
    100% {
        margin: 0 0;
        opacity: 1;
    }
}
.logo, .logo img {
    opacity: 1;
    width: 25em;
    margin: -25px 0;
    position: relative;
}
@keyframes fade-in_logo {
    0% {
        margin: -5px 0;
        opacity: 0;
    }
    100% {
        margin: -25px 0;
        opacity: 1;
    }
}
@media only screen and ( max-width: 655px ) {
    .info {
        position: absolute;
    }
}